<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page2</title>
</head>
<body>
<h3><a class="btn btn-primary" href="{% url 'page' %}">Return Home Page</a></h3>
<br>
<br>
<h3>Get value from redis</h3>
<br>
<form action="{% url 'app1:page2' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>Key:</label>
        <input class="form-control" type="text" name="key" value="" required>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-primary">Get Value <i
                class="icon-add font-size-sm"></i>
        </button>
    </div>
</form>

{% if value %}
    <h4>Value:</h4>
    <h2>{{ value }}</h2>
    <br>
    {% if responseTime %}
        <h4>Redis response time:</h4>
        <h2>{{ responseTime }}</h2>
    {% endif %}
{% else %}
    <h2>No Value</h2>
{% endif %}
</body>
</html>